.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bitmovin-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 0;
    overflow: hidden;
}

#bitmovin-player {
   border-radius: 14px;
}


.bitmovinplayer-container .bmpui-ui-watermark,
.bitmovinplayer-container .bmpui-ui-loading-overlay {
    display: none; /* Hide watermark and loading overlay for a cleaner look */
}

.bitmovinplayer-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bitmovinplayer-container .bmpui-controlbar {
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #333;
}

.bitmovinplayer-container
.bmpui-controlbar
.bmpui-button-pane
.bmpui-controlbar-button {
    color: #fff;
}

.bitmovinplayer-container .bmpui-controlbar .bmpui-seekbar {
    background-color: #444;
}

.bitmovinplayer-container
.bmpui-controlbar
.bmpui-seekbar
.bmpui-seekbar-playback {
    background-color: red;
}

.bitmovinplayer-container .bmpui-controlbar .bmpui-time-label {
    color: #fff;
}

.bitmovinplayer-container
.bmpui-controlbar
.bmpui-button-pane
.bmpui-playbacktogglebutton,
.bitmovinplayer-container
.bmpui-controlbar
.bmpui-button-pane
.bmpui-fullscreenbutton,
.bitmovinplayer-container
.bmpui-controlbar
.bmpui-button-pane
.bmpui-volumebutton {
    background-color: transparent;
    border: none;
}

.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-playbackposition-marker {
    background-color: #fff;
}

.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-playbackposition,
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-playbackposition {
    background-color: red;
}

.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-playbackposition-marker {
    background-color: red;
    border-color: red;
}

.bmpui-ui-titlebar > .bmpui-container-wrapper .bmpui-label-metadata-title {
    display: none;
}

.bmpui-ui-hugereplaybutton .bmpui-image {
    background-image: url("https://cgfybgvylwfwcao-app.nyc3.cdn.digitaloceanspaces.com/static-assets/playtv/player-repeat.svg");
}

.bmpui-ui-controlbar {
  display: none;
}

.bmpui-player-state-paused .bmpui-ui-controlbar {
  display: block;
}

.bmpui-player-state-playing .bmpui-ui-controlbar {
  display: none;
}

.bmpui-ui-titlebar {
  display: none;
}

.bmpui-player-state-paused .bmpui-ui-titlebar {
  display: block;
}

.bmpui-player-state-playing .bmpui-ui-titlebar {
  display: none;
}

.bmpui-ui-buffering-overlay .bmpui-ui-buffering-overlay-indicator {
	animation: bmpui-fancy 2s ease-in infinite;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32' xml:space='preserve'%3E%3Cstyle%3E.st1{fill-rule:evenodd;clip-rule:evenodd;fill:%23e50038}%3C/style%3E%3Cpath class='st1' d='M8 8h16v16H8z' id='Rectangle_3_copy_3' style='opacity:.302'/%3E%3Cpath class='st1' d='M23 7H9c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 16H9V9h14v14z' id='Rectangle_2_copy_13'/%3E%3C/svg%3E") no-repeat 50%;
	display: inline-block;
	height: 2em;
	margin: .2em;
	width: 2em
}

/* Play icon*/
.bmpui-ui-playbacktogglebutton {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'80'%20height%3D'80'%20viewBox%3D'0%200%2080%2080'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cg%20filter%3D'url(%23filter0_b_11780_91184)'%3E%3Crect%20width%3D'80'%20height%3D'80'%20rx%3D'40'%20fill%3D'black'%20fill-opacity%3D'0.5'/%3E%3Cpath%20d%3D'M54%2040C54.0008%2040.3395%2053.9138%2040.6735%2053.7473%2040.9694C53.5808%2041.2654%2053.3406%2041.5132%2053.05%2041.6888L35.04%2052.7063C34.7364%2052.8922%2034.3886%2052.9937%2034.0326%2053.0003C33.6766%2053.0069%2033.3253%2052.9183%2033.015%2052.7438C32.7076%2052.5719%2032.4516%2052.3213%2032.2732%2052.0177C32.0948%2051.7141%2032.0005%2051.3684%2032%2051.0163V28.9838C32.0005%2028.6316%2032.0948%2028.286%2032.2732%2027.9824C32.4516%2027.6787%2032.7076%2027.4281%2033.015%2027.2563C33.3253%2027.0817%2033.6766%2026.9931%2034.0326%2026.9997C34.3886%2027.0063%2034.7364%2027.1078%2035.04%2027.2938L53.05%2038.3113C53.3406%2038.4869%2053.5808%2038.7347%2053.7473%2039.0306C53.9138%2039.3265%2054.0008%2039.6605%2054%2040Z'%20fill%3D'white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter%20id%3D'filter0_b_11780_91184'%20x%3D'-24'%20y%3D'-24'%20width%3D'128'%20height%3D'128'%20filterUnits%3D'userSpaceOnUse'%20color-interpolation-filters%3D'sRGB'%3E%3CfeFlood%20flood-opacity%3D'0'%20result%3D'BackgroundImageFix'/%3E%3CfeGaussianBlur%20in%3D'BackgroundImageFix'%20stdDeviation%3D'12'/%3E%3CfeComposite%20in2%3D'SourceAlpha'%20operator%3D'in'%20result%3D'effect1_backgroundBlur_11780_91184'/%3E%3CfeBlend%20mode%3D'normal'%20in%3D'SourceGraphic'%20in2%3D'effect1_backgroundBlur_11780_91184'%20result%3D'shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}
.bmpui-player-state-paused .bmpui-ui-playbacktogglebutton {
	display: block;
}
.bmpui-player-state-playing .bmpui-ui-playbacktogglebutton {
	display: none;
}